body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50; /* Background color for the nav bar */
    color: white;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}



.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 150px;
    background: url('../assets/image.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

.main-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; /* Button color matches the header */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.testimonials {
    margin: 50px 0;
    padding: 20px;
    background-color:lightblue; /* Background color for testimonials section */
    border-radius: 5px;
    text-align: center;
}

.testimonials h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p:first-child {
    font-style: italic;
}
.testimonialperson
{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 5px;
}
.footer {
    background-color: #333; /* Background color for the footer */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
